# Copy this file to .env and fill in your values.
SECRET_KEY=7167cfccbbc8a4723d414689e10414ff366f7d3cc5fd669544a0344e4c7848b9  #replace-with-a-secure-random-string
DATABASE_URL=sqlite:///local.db
PAYSTACK_SECRET=sk_test_f59601c7eba1f87be69bdd440d8335441725bebc   #replace-with-your-paystack-secret
ADMIN_EMAIL=admin@example.com
FLASK_ENV=development
